@import "~normalize.css";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto', Arial, sans-serif;
}

.game {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  width: 402px;
  height: 402px;
  position: relative;

  background: #ecb3db;
  border: 1px solid #444;
  border-radius: 3px;

  &_info {
    display: none;
    width: 70%;
    text-align: center;
  }
}

.cell {
  width: 100px;
  height: 100px;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 2rem;
  background: rgb(228, 228, 228);

  &:hover {
    cursor: pointer;
    background: rgb(224, 212, 212);
  }
}

.statusbar {
  width: 402px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.menuBtn {
  border: none;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: 80px;
  background-color: #ce9fee8e;
  color: #003333;
  outline: none;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: darken(#ce9fee8e, 20);
  }

  &--active {
    background-color: darken(#ce9fee8e, 20);
  }
}

.menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  display: none;
  z-index: 1000;

  &__container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #dc91ec;
  }

  &__item {
    list-style: none;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 22px;
    transition: .3s;
    text-shadow: 2px 2px 5px #000;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      opacity: .7;
      cursor: pointer;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 26px;
  }

  &--visible {
    display: block;
  }
}

.hidden {
  display: none;
}

.fieldsize_select {
  padding: 5px 10px;
  margin-bottom: 50px;
  font-size: 20px;
  letter-spacing: 0.1em;
  background: #dc91ec;
}

.backBtn {
  position: absolute;
  bottom: 30px;
  font-size: 22px;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  padding: 2px 8px;
  background-color: #dc91ec;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}