{
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-var": "warn",
    "no-unused-vars":"warn",
    "no-multiple-empty-lines": "warn",
    "no-extra-semi": "warn",
    "indent": ["warn", 2],
    "no-multi-spaces": "warn",
    "space-in-parens": "warn",
    "prefer-const": "warn",
    "no-use-before-define": "warn",
    "no-debugger": "warn"
  },
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "sourceType": "module"
  }
}